<%- include("./partials/header.ejs") %>
<style>
.update{
    background-color:darkcyan;
    border-radius: 3px;
    color: bisque;
    display: inline-block;
    padding:5px
}
</style>
<div>
    <h3 class="update">Updated Successfully.</h3>
    <h2> Click <a href="/">HERE</a> for Home Page.</h2>
</div>
<%- include("./partials/footer.ejs") %>